.allitemtype{
    display: grid;
    justify-content: center;
    width: 80%;
    padding: 30px 0px;
    align-items: start;
    grid-template-columns: 1fr 1fr 1fr 1fr;

    background-color: rgb(235, 235, 235);
    
}
.allitemtypecontainer{
    background-color: rgb(235, 235, 235);
    display: flex;
    justify-content: center;
    align-items: center;
    
}